* {
  margin: 0;
  font-family: sans-serif;
  padding: 4px;
}

header {
  text-align: center;
  font-size: 48px;
}

section {
  width: 100%;
  height: 100vh;
}

section h5 {
  color: grey;
}

#test-pass {
  color: #00ba41;
  size: 14px;
}

#test-fail {
  color: #ce0000;
  size: 16px;
}
