* {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("golden-gate.jpg");
}

#submit {
  border: none;
  font-size: 200%;
  margin: 5%;
  border-radius: 25px;
}
#newNote {
  margin: 2.5%;
}

#name {
  background-color: #ffffb3;
  height: 20%;
  width: 70%;
  font-size: 150%;
}

#links {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
    text-align: center;
    padding: 10px;
    margin: 2.5%;
    border-radius: 25px;
    background-color: #ffffb3;
      display: inline-block;

}

#link-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("golden-gate.jpg");
  display: inline-block;
  font-size: 150%;
  /* text-align: center; */

}

h1 {
  border: none;
  padding-top: 10px;
  font-family: Impact;
  font-size: 200px;
}

h2 {
  border: none;
  padding-top: 10px;
  font-family: Impact;
  font-size: 50px;


}
